<a href="https://colab.research.google.com/github/shibanisankpal/datascience-and-analytics/blob/main/Credit_card_fraud_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Predicting Credit Card Fraud using Logistic Regression

In [42]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [4]:
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [5]:
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [6]:
credit_card_data.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
37717  39076  1.117749 -1.544665 -0.145357  ... -0.029143  0.029028  183.19    0.0
37718  39076  0.758729 -0.483875  0.125488  ... -0.033008  0.063331  250.00    0.0
37719  39076 -0.474907  0.835804  0.075878  ...  0.310936  0.170342    1.49    0.0
37720  39077 -2.682780 -2.028562  1.745223  ...  0.256991 -0.585781  102.00    0.0
37721  39077  1.106292 -0.525727  0.926440  ...       NaN       NaN     NaN    NaN

[5 rows x 31 columns]

In [7]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37722 entries, 0 to 37721
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    37722 non-null  int64
 1   V1      37722 non-null  float64
 2   V2      37722 non-null  float64
 3   V3      37722 non-null  float64
 4   V4      37722 non-null  float64
 5   V5      37722 non-null  float64
 6   V6      37722 non-null  float64
 7   V7      37721 non-null  float64
 8   V8      37721 non-null  float64
 9   V9      37721 non-null  float64
 10  V10     37721 non-null  float64
 11  V11     37721 non-null  float64
 12  V12     37721 non-null  float64
 13  V13     37721 non-null  float64
 14  V14     37721 non-null  float64
 15  V15     37721 non-null  float64
 16  V16     37721 non-null  float64
 17  V17     37721 non-null  float64
 18  V18     37721 non-null  float64
 19  V19     37721 non-null  float64
 20  V20     37721 non-null  float64
 21  V21     37721 non-null  float64
 22  V22     37721 non-null  float64
 23  V23     37721 non-null  float64
 24  V24     37721 non-null  float64
 25  V25     37721 non-null  float64
 26  V26     37721 non-null  float64
 27  V27     37721 non-null  float64
 28  V28     37721 non-null  float64
 29  Amount  37721 non-null  float64
 30  Class   37721 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 8.9 MB

In [8]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [9]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    37618
1.0      103
Name: Class, dtype: int64

0.0 -- Normal Transaction

1.0 -- Fraudulent Transaction

In [10]:
# separating the data
normal = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [11]:
print(normal.shape)
print(fraud.shape)

(37618, 31)
(103, 31)

In [13]:
fraud.describe()

               Time          V1          V2  ...         V28       Amount  Class
count    103.000000  103.000000  103.000000  ...  103.000000   103.000000  103.0
mean   20498.291262   -7.762676    5.838647  ...    0.102481    90.471165    1.0
std    10224.604576    9.408942    4.799564  ...    0.656762   247.173335    0.0
min      406.000000  -30.552380   -5.198360  ...   -1.869290     0.000000    1.0
25%    11086.000000  -15.609012    2.536706  ...    0.044583     1.000000    1.0
50%    20451.000000   -3.499108    4.140867  ...    0.308205     3.760000    1.0
75%    28641.500000   -0.360399    8.921805  ...    0.483431    99.990000    1.0
max    37167.000000    1.234235   16.713389  ...    1.108933  1809.680000    1.0

[8 rows x 31 columns]

In [15]:
#grouping transactions and comparing averages
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    24778.212797 -0.186787  0.044196  ...  0.007030  0.003658  86.017411
1.0    20498.291262 -7.762676  5.838647  ...  0.822304  0.102481  90.471165

[2 rows x 30 columns]

Number of fraudulent transactions -- 103

In [16]:
normal_sample = normal.sample(n=103)

In [20]:
new_dataset = pd.concat([normal_sample, fraud], axis=0)

In [18]:
new_dataset.head()

        Time        V1        V2         V3  ...       V27       V28  Amount  Class
20820  31286  1.251400  0.068772   0.728277  ... -0.004912  0.023096   10.28    0.0
1569    1228 -0.693097  0.720897   0.487926  ...  0.050083  0.147487  279.93    0.0
28561  35054 -0.441388  1.076247   1.704878  ...  0.267014  0.125474    7.13    0.0
18497  29546 -9.151573  5.455072 -10.085887  ... -0.038259 -0.312459   99.99    0.0
15766  27203 -0.579139  0.520783   1.482508  ...  0.117866  0.153043   10.99    0.0

[5 rows x 31 columns]

In [22]:
new_dataset['Class'].value_counts()

1.0    103
0.0    103
Name: Class, dtype: int64

In [23]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    24828.058252 -0.016850  0.110740  ...  0.053813 -0.036332  80.650097
1.0    20498.291262 -7.762676  5.838647  ...  0.822304  0.102481  90.471165

[2 rows x 30 columns]

In [24]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [25]:
print(X)

        Time        V1        V2  ...       V27       V28  Amount
20820  31286  1.251400  0.068772  ... -0.004912  0.023096   10.28
1569    1228 -0.693097  0.720897  ...  0.050083  0.147487  279.93
28561  35054 -0.441388  1.076247  ...  0.267014  0.125474    7.13
18497  29546 -9.151573  5.455072  ... -0.038259 -0.312459   99.99
15766  27203 -0.579139  0.520783  ...  0.117866  0.153043   10.99
...      ...       ...       ...  ...       ...       ...     ...
30442  35926 -3.896583  4.518355  ...  0.635789  0.501050    4.56
30473  35942 -4.194074  4.382897  ...  0.473934  0.473757   14.46
30496  35953 -4.844372  5.649439  ...  0.210214  0.391855  111.70
31002  36170 -5.685013  5.776516  ...  0.303445  0.219380  111.70
33276  37167 -7.923891 -5.198360  ...  1.937421 -1.552593   12.31

[206 rows x 30 columns]

In [26]:
print(Y)

20820    0.0
1569     0.0
28561    0.0
18497    0.0
15766    0.0
        ...
30442    1.0
30473    1.0
30496    1.0
31002    1.0
33276    1.0
Name: Class, Length: 206, dtype: float64

**Splitting into training and testing data**

In [39]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, stratify = Y, test_size = 0.2, random_state= 2)

In [40]:
print(X.shape, X_train.shape, X_test.shape)

(206, 30) (164, 30) (42, 30)

In [53]:
X_train.head()

        Time        V1        V2  ...       V27       V28  Amount
18773  29753  0.269614  3.549755  ...  0.553255  0.402400    0.68
20943  31368 -1.204027 -0.301587  ... -0.109485 -0.409300   99.00
8615   11629 -3.891192  7.098916  ...  1.881529  0.875260    1.00
6903    8886 -2.535852  5.793644  ...  0.413140  0.308205    1.00
18382  29435 -0.881525 -0.224662  ...  0.091861 -0.063773  135.00

[5 rows x 30 columns]

**Logistic Regression**

In [43]:
lr = LogisticRegression()
lr.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [44]:
y_pred = lr.predict(X_test)
print(y_pred)

[0. 0. 1. 0. 0. 1. 1. 0. 0. 1. 0. 1. 1. 1. 1. 1. 1. 0. 0. 1. 0. 1. 0. 0.
 0. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 0. 0.]

In [55]:
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(lr.score(X_test, Y_test)))

Accuracy of logistic regression classifier on test set: 0.90

**Confusion matrix**

In [57]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(Y_test, y_pred)
print(confusion_matrix)

[[20  1]
 [ 3 18]]

The result is telling us that we have 20+18=38 correct predictions and 3+1=4 incorrect predictions.